<%- include('header')%>
    <h2>
        Admin Categorias:
        <a href="/admin/categorias/nova">Nova Categoria</a>
    </h2>
    <div>
        <ul>
            <% categorias.forEach( categorias => { %>
            <li>
                <%- categorias.categoria %> | 
                <a href="/admin/categorias/delete/<%- categorias.id %>">Excluir</a>
                <a href="/admin/categorias/editar/<%- categorias.id %>">Editar</a>
            </li>
            <% }) %>
        </ul>
    </div>
<%- include('footer') %>